bin/
gen/
# Ant
build.xml
local.properties

# Maven
target/
pom.xml.*
release.properties

# Eclipse
.classpath
.project
.externalToolBuilders/

# IntelliJ
*.iml
*.ipr
*.iws
.idea/
out/
**/out/

# Mac
.DS_Store

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
